---
Language: Cpp
BasedOnStyle: LLVM
LineEnding: LF
ReflowComments: Always
# Lines and Indentations
TabWidth: 4
AccessModifierOffset: -4
IndentCaseBlocks: true
IndentWidth: 4
InsertNewlineAtEOF: true
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 2
ContinuationIndentWidth: 4
# Cannot be used with bin packing
# InsertTrailingCommas: Wrapped
SeparateDefinitionBlocks: Always
IndentWrappedFunctionNames: true
# Namespaces
FixNamespaceComments: true
ShortNamespaceLines: 0 # To always add comments
# Usings
SortUsingDeclarations: LexicographicNumeric
# Alignments
AlignEscapedNewlines: LeftWithLastLine
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: false
  AlignFunctionDeclarations: false
AlignTrailingComments: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignArrayOfStructures: Right
## Operands
AlignOperands: Align
BreakBeforeBinaryOperators: None
# Wrapping
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
# Constructors
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: CurrentLine
# Inheritance
BreakInheritanceList: BeforeComma
# Single Line Short Blocks
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortCaseLabelsOnASingleLine: true
# Templates
BreakBeforeTemplateCloser: true
BreakTemplateDeclarations: Yes
# Concepts
AllowShortCompoundRequirementOnASingleLine: true
RequiresExpressionIndentation: OuterScope
BreakBeforeConceptDeclarations: true
RequiresClausePosition: OwnLineWithBrace
IndentRequiresClause: true
# Chop Arguments and Parameters
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
# Setting this to `Align` would cause unwanted long indentations when
# wrapping things.
AlignAfterOpenBracket: DontAlign
# `#include` Blocks
IncludeBlocks: Regroup
# Shio: It is not possible to force the main header to be in its own block
# at the very top of the file using clang-format.
# `IncludeIsMainRegex` combined with `IncludeBlocks: Regroup` will place
# the main header (e.g., "ClassA.hpp" in "ClassA.cpp") at the top of the
# include block with the lowest priority, but not in a separate block
# before all others.
IncludeCategories:
  # Shio: Usagi headers are the most specific <...> style include.
  - Regex: '^<Usagi/.*'
    Priority: 3
  # Shio: Standard library headers (approximated as headers without path separators).
  - Regex: '^<[^/]+>$'
    Priority: 1
  # Shio: Other headers included with <...>, which will have path separators.
  - Regex: '^<.*'
    Priority: 2
  # Shio: Project-local headers included with "...".
  - Regex: '^".*'
    Priority: 4
IncludeIsMainRegex: '([-_](test|unittest))?$'
# Pointer and Reference Positions
PointerAlignment: Right
ReferenceAlignment: Right
# Spaces
SpaceBeforeParens: Never
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros: true
  AfterOverloadedOperator: false
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
# Only available with Clang 22
# SpaceInEmptyBraces: Always
Cpp11BracedListStyle: false
BitFieldColonSpacing: Both
# Others
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 4
...
