# Shio: This is a clang-format configuration file for the UsagiBuild project.
# The settings are organized by language feature for better readability and
# maintenance.
# clang-format 23 required.

---
#==============================================================================
# Core Style & Formatting
#==============================================================================
Language: Cpp
Standard: Latest
BasedOnStyle: LLVM
ColumnLimit: 80

#==============================================================================
# General: Layout, Whitespace & Wrapping
#==============================================================================
# --- Line Endings & File Boundaries ---
LineEnding: LF
InsertNewlineAtEOF: true

# --- Indentation and Width ---
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
IndentExternBlock: NoIndent
IndentPPDirectives: BeforeHash

# --- Wrapping & Line Breaks ---
BreakBeforeBinaryOperators: None
BreakStringLiterals: true
# Cannot be used with bin packing
#InsertTrailingCommas: Wrapped

## Shio: We use a custom brace wrapping configuration. All BraceWrapping options
## are consolidated here.
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
SpaceInEmptyBraces: Always

# --- Alignment ---
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: DontAlign
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
  AlignFunctionDeclarations: false

# --- Spacing ---
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros: true
  AfterOverloadedOperator: false
  AfterRequiresInClause: true
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInConditionalStatement: false

# --- Empty Lines & Blocks ---
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: true
SeparateDefinitionBlocks: Always
AllowShortBlocksOnASingleLine: Empty

#==============================================================================
# General: Comments
#==============================================================================
ReflowComments: Always
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

#==============================================================================
# General: Includes & Usings
#==============================================================================
IncludeBlocks: Regroup
# Shio: It is not possible to force the main header to be in its own block
# at the very top of the file using clang-format.
# `IncludeIsMainRegex` combined with `IncludeBlocks: Regroup` will place
# the main header (e.g., "ClassA.hpp" in "ClassA.cpp") at the top of the
# include block with the lowest priority, but not in a separate block
# before all others.
IncludeCategories:
  # Shio: C++ Standard library headers (no file extension, no path).
  - Regex: '^<[^./]+>$'
    Priority: 1
  # Shio: C-style and other library headers with file extensions but no path.
  - Regex: '^<[^/]+\..+>$'
    Priority: 2
  # Shio: Usagi headers are a specific form of <...> include with a path.
  - Regex: '^<Usagi/.*'
    Priority: 4
  # Shio: Other headers included with <...>, which will have path separators.
  - Regex: '^<.*'
    Priority: 3
  # Shio: Project-local headers included with "...".
  - Regex: '^".*'
    Priority: 5
IncludeIsMainRegex: '([-_](test|unittest))?$'
SortUsingDeclarations: LexicographicNumeric

#==============================================================================
# General: Pointers, References, & Literals
#==============================================================================
PointerAlignment: Right
ReferenceAlignment: Right
QualifierAlignment: Left
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 4

#==============================================================================
# Language: Macros
#==============================================================================
MacroBlockBegin: ''
MacroBlockEnd: ''

#==============================================================================
# Language: Namespaces
#==============================================================================
FixNamespaceComments: true
ShortNamespaceLines: 0 # To always add comments
CompactNamespaces: true

#==============================================================================
# Language: Classes, Structs, Unions, Constructors & Bit-Fields
#==============================================================================
AccessModifierOffset: -4
# This causes initializer lists to align weirdly
AlignArrayOfStructures: None
BreakInheritanceList: BeforeComma
BreakArrays: true

# --- Constructors ---
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: NextLineOnly
SpaceBeforeCtorInitializerColon: true

# --- Bit-Fields ---
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
BitFieldColonSpacing: Both

#==============================================================================
# Language: Functions & Lambdas
#==============================================================================
IndentWrappedFunctionNames: true
AllowShortFunctionsOnASingleLine: InlineOnly

# --- Parameters & Arguments ---
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false
BinPackParameters: OnePerLine
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: true
BreakFunctionDefinitionParameters: false

# Setting this to `Align` would cause unwanted long indentations when
# wrapping things.
# It also causes wrong indentation of wrapped initializer list elements.
# todo: currently it seems this options will cause misalignment of parenthesis around `template if`
# todo: As of clang-format 22 this option is a bool with the previous option of Align replaced with true, DontAlign replaced with false, and the options of AlwaysBreak and BlockIndent replaced with true and with setting of new style options using BreakAfterOpenBracketBracedList, BreakAfterOpenBracketFunction, BreakAfterOpenBracketIf, BreakBeforeCloseBracketBracedList, BreakBeforeCloseBracketFunction, and BreakBeforeCloseBracketIf.
AlignAfterOpenBracket: false

# --- Lambdas ---
LambdaBodyIndentation: Signature
AllowShortLambdasOnASingleLine: All

# --- Operators ---
BreakBeforeTernaryOperators: true
BreakBinaryOperations:
  Default: RespectPrecedence

#==============================================================================
# Language: Templates & Concepts
#==============================================================================
BreakBeforeTemplateCloser: true
BreakTemplateDeclarations: Yes
SpacesInAngles: Never

# --- Concepts ---
AllowShortCompoundRequirementOnASingleLine: true
RequiresExpressionIndentation: OuterScope
BreakBeforeConceptDeclarations: true
RequiresClausePosition: OwnLine
IndentRequiresClause: true

#==============================================================================
# Language: Control Flow (if, switch, for, etc.)
#==============================================================================

# --- If-Else ---
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakAfterOpenBracketIf: true
BreakBeforeCloseBracketIf: false

# --- Switch-Case ---
IndentCaseBlocks: false
IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: true

#==============================================================================
# Language: Enums
#==============================================================================
AllowShortEnumsOnASingleLine: false
EnumTrailingComma: Insert

#==============================================================================
# Language: C++11 Initializer Lists & Casts
#==============================================================================
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: Block
BracedInitializerIndentWidth: 4
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true
SpacesInCStyleCastParentheses: false

#==============================================================================
# Miscellaneous
#==============================================================================
BreakAfterAttributes: Always
# --- Penalties ---
#PenaltyBreakAssignment: 20
#PenaltyBreakBeforeFirstCallParameter: 100
#PenaltyBreakBeforeMemberAccess: 1000
#PenaltyExcessCharacter: 1000000
#PenaltyReturnTypeOnItsOwnLine: 60
#...
