[submodule "Modules/Usagi/Modules"]
	path = Modules/Usagi/Modules
	url = git@github.com:YukinoHayakawa/UsagiModules.git
[submodule "Demos"]
	path = Demos
	url = git@github.com:YukinoHayakawa/UsagiDemos.git
[submodule "Tests"]
	path = Tests
	url = git@github.com:YukinoHayakawa/UsagiTests.git
[submodule "Project/Research"]
	path = Project/Research
	url = git@github.com:YukinoHayakawa/Research.git
[submodule "Projects/MidakoIsland/MidakoFlow"]
	path = Projects/MidakoIsland/MidakoFlow
	url = git@github.com:MidakoIsland/lang.MidakoFlow.git
[submodule "Projects/3CM"]
	path = Projects/3CM
	url = git@github.com:3CM-Games/Monorepo-UsagiProject-3CM.git
[submodule "Engine/Usagi"]
	path = Engine/Usagi
	url = git@github.com:YukinoHayakawa/Usagi.git
[submodule "Build/Toolchains/Vcpkg/vcpkg-overlay-triplets"]
	path = Build/Toolchains/Vcpkg/vcpkg-overlay-triplets
	url = git@github.com:Neumann-A/my-vcpkg-triplets.git
[submodule "Build/Toolchains/Vcpkg/vcpkg-overlay-ports"]
	path = Build/Toolchains/Vcpkg/vcpkg-overlay-ports
	url = git@github.com:UsagiEngine/build.vcpkg-overlay-ports.git
